[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

sql_mode=STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
init_connect='SET NAMES utf8mb4'

# Custom config should go here
!includedir /etc/mysql/conf.d/

# --
# 二进制日志格式(STATEMENT, ROW, MIXED)
binlog_format = ROW
# 最大连接数
max_connections = 1000
# 日志过期时间，包括二进制日志
expire_logs_days = 15

innodb_file_per_table = 1
innodb_buffer_pool_size = 2048M
innodb_log_file_size = 512M
innodb-log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 2

lower_case_table_names = 1
# --

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
